<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/login.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="formlog">
            <label for="" class="Logintext">Login</label>
            <div class="formbox">
                    <form action="" method="post">
                            <div>
                                    <label for="UserId">Username</label> <br>
                                    <input type="text" name="Username" id="UserId">
                            </div>
                            <div>
                                    <label for="PassId">Password</label> <br>
                                    <input type="password" name="Password" id="PassId">
                            </div>
                            <div>
                                    input type="checkbox" name="Remind" id="RemindId">
                                    <label for="RemindId" class="remind">Remind Me</label>
                            </div>
                    </form>
            </div>
        </div>
    </div>   
</body>
</html>